<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyDataFramework" version="1.2.5884.38968" targetFramework="net452" />
  <package id="MarkR" version="1.15.5833.24723" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
</packages>