<div class="text-center">
	<img src="~/Content/Scribe.png" alt="logo" />
	<h1 class="purple margin-0" style="font-size: 3em">Scribe</h1>
	<h6 class="darkGray">v@(ViewBag.Version)</h6>
	<p>
		Simple and easy to use WIKI.<br />
		Check out the open source <a href="https://github.com/BobbyCannon/Scribe">project</a> on GitHub.
	</p>
</div>