@{
	ViewBag.Title = "Manual";
}

<h2>Enable Page Approval</h2>
<p>
	If the "Enable Page Approval" option is enabled then all pages will have to be approved and published before guest will be able to access the page.
	If your WIKI is internal or wants anyone to see all content then just disable the setting and all pages can be viewed by anyone. Editing pages is
	still only available to authenticated users.
</p>

<h6>Approval Process</h6>
<p>
	When creating content the edit page will have an option to publish which starts the publish process. When a user publishes a page, it is flagged for
	approval. Approvers, which are users with the "approver" tag, will be able to review and approve the page. Once approved the page will be available
	to be published. Publishers, which are users with the "publisher" tag, will be able to review and publish the page.
</p>
<p>
	Pages will only be visible to guest (unauthenticated users) if the page is published and has been approved. Only the latest approved version will
	be provided to guest.
</p>
