@model PagedResults<PageView>

@{
	ViewBag.Title = "All Pages";
}
<div ng-controller="controller" ng-cloak>
	<input id="filter" ng-model="input.filter" class="pull-right" type="text" title="filter" placeholder="filter" />
	<h1>All Pages</h1>
	<table id="pages" class="expand striped">
		<thead id="pagesHead">
			<tr>
				<th>
					<a href="#" ng-click="predicate='title'; reverse=!reverse">name</a>
					<i ng-show="predicate === 'title' && reverse === false" class="fa fa-sort-asc"></i>
					<i ng-show="predicate === 'title' && reverse === true" class="fa fa-sort-desc"></i>
					<i ng-show="predicate !== 'title'" class="fa fa-sort"></i>
				</th>
				<th class="cellLarge">
					<a href="#" ng-click="predicate='createdBy'; reverse=!reverse">created by</a>
					<i ng-show="predicate === 'createdBy' && reverse === false" class="fa fa-sort-asc"></i>
					<i ng-show="predicate === 'createdBy' && reverse === true" class="fa fa-sort-desc"></i>
					<i ng-show="predicate !== 'createdBy'" class="fa fa-sort"></i>
				</th>
				<th class="cellMedium">
					<a href="#" ng-click="predicate='createdOn'; reverse=!reverse">last modified</a>
					<i ng-show="predicate === 'createdOn' && reverse === false" class="fa fa-sort-asc"></i>
					<i ng-show="predicate === 'createdOn' && reverse === true" class="fa fa-sort-desc"></i>
					<i ng-show="predicate !== 'createdOn'" class="fa fa-sort"></i>
				</th>
				@if (Request.IsAuthenticated)
				{
					<th class="cellSmall">
						<a href="#" ng-click="predicate='isPublished'; reverse=!reverse">published</a>
						<i ng-show="predicate === 'isPublished' && reverse === false" class="fa fa-sort-asc"></i>
						<i ng-show="predicate === 'isPublished' && reverse === true" class="fa fa-sort-desc"></i>
						<i ng-show="predicate !== 'isPublished'" class="fa fa-sort"></i>
					</th>
					<th class="cellSmall">
						<a href="#" ng-click="predicate='approvalStatus'; reverse=!reverse">status</a>
						<i ng-show="predicate === 'approvalStatus' && reverse === false" class="fa fa-sort-asc"></i>
						<i ng-show="predicate === 'approvalStatus' && reverse === true" class="fa fa-sort-desc"></i>
						<i ng-show="predicate !== 'approvalStatus'" class="fa fa-sort"></i>
					</th>
				}
			</tr>
		</thead>
		<tbody id="pagesBody">
			<tr ng-repeat="$item in model.results | filter:input.filter | orderBy:predicate:reverse">
				<td>
					<a ng-href="/Page/{{$item.id}}/{{$item.titleForLink}}">{{$item.title}}</a>
				</td>
				<td>
					{{$item.createdBy}}
				</td>
				<td>
					{{$item.lastModified}} ago
				</td>
				@if (Request.IsAuthenticated)
				{
					<td>
						<span ng-show="$item.isPublished">published</span>
					</td>
					<td>
						<span ng-show="$item.approvalStatus !== 'none'">{{$item.approvalStatus}}</span>
					</td>
				}
			</tr>
		</tbody>
	</table>
</div>
@section scripts
{
	<script type="text/javascript">

		scribe.controller('controller', [
			'$scope', '$http', '$window',
			function ($scope, $http, $window) {
				'use strict';

				$scope.model = @(Html.Raw(Model.ToJson()));
				$scope.predicate = 'title';
				$scope.reverse = false;
			}
		]);

	</script>
}