@model PagedResults<PageView>

@{
	ViewBag.Title = "Pages with Tag";
}
<h1>
	All pages with tag "@Model.Filter.Replace("Tags=", "")"
</h1>
<ul class="striped">
	@foreach (var item in Model.Results)
	{
		<li>
			@Html.ActionLink(item.Title, "Page", new { id = item.Id }, null)
		</li>
	}
</ul>