@model SettingsView

@{
	ViewBag.Title = "Settings";
}
<div ng-controller="controller">
	<form name="settings">
		<div class="row">
			<div class="span12">
				<h1>Settings</h1>
				<dl>
					<dt>LDAP Connection String</dt>
					<dd>
						<input class="x-large" type="text" ng-model="model.ldapConnectionString" />
					</dd>
					<dt>
						Enable Guest Mode
					</dt>
					<dd class="padding-top-4">
						<input id="enableGuestMode" type="checkbox" ng-model="model.enableGuestMode" />
						<label for="enableGuestMode">Only show approved pages guest users</label><br />
						<small class="padding-left-8">You search indexes will be rebuilt if this is changed.</small>
					</dd>
					<dt>
						Overwrite Files
					</dt>
					<dd class="padding-top-4">
						<input id="overwriteFilesOnUpload" type="checkbox" ng-model="model.overwriteFilesOnUpload" />
						<label for="overwriteFilesOnUpload">Automatically overwrite existing files on upload </label>
					</dd>
					<dt>
						Soft Delete
					</dt>
					<dd class="padding-top-4">
						<input id="softDelete" type="checkbox" ng-model="model.softDelete" />
						<label for="softDelete">Soft delete pages and files </label>
					</dd>
					<dt>
						Home Page
					</dt>
					<dd class="padding-top-4">
						<label>Private</label><br />
						<select class="x-large" ng-model="model.frontPagePrivateId" ng-options="page.id as page.title for page in privatePages"></select><br />
						<label>Public</label><br />
						<select class="x-large" ng-model="model.frontPagePublicId" ng-options="page.id as page.title for page in publicPages"></select>
					</dd>
				</dl>
			</div>
			<div class="span12">
				<ul class="tabs">
					<li ng-click="input.tab = 'viewCss'" ng-class="{selected: input.tab === 'viewCss'}">View CSS</li>
					<li ng-click="input.tab = 'printCss'" ng-class="{selected: input.tab === 'printCss'}">Print CSS</li>
				</ul>
				<div ng-show="input.tab === 'viewCss'">
					<textarea id="viewCss" class="expand editor" ng-model="model.viewCss"></textarea>
				</div>
				<div ng-show="input.tab === 'printCss'">
					<textarea id="printCss" class="expand editor" ng-model="model.printCss"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<button class="blue" ng-disabled="!settings.$dirty" ng-click="save()">Save</button>
			</div>
			<div class="span12">
				@Html.ActionLink("Manage Users", "Users", "Account", new { @class = "button link" }, null)
			</div>
		</div>
	</form>
</div>
@section scripts
{
	<script type="text/javascript">

		scribe.controller('controller',
		[
			'$scope', '$http', '$window',
			function ($scope, $http, $window) {
				'use strict';

				$scope.model = @(Html.Raw(Model.ToJson(true)));
				$scope.publicPages = @(Html.Raw(Speedy.Extensions.ToJson(ViewBag.PublicPages)));
				$scope.privatePages = @(Html.Raw(Speedy.Extensions.ToJson(ViewBag.PrivatePages)));

				$scope.input = {
					tab: 'viewCss'
				};

				$scope.save = function () {
					$http.post('/api/Settings/Save', $scope.model)
						.success(function (data) {
							$scope.model = data;
							$scope.settings.$setPristine(true);
							toastr.success('Successfully saved the settings.');
						})
						.error(function (error) {
							if (error.message) {
								toastr.error(error.message);
							} else {
								toastr.error('There was issue saving the settings.');
							}
						});
				}
			}
		]);

	</script>
}