@model string
@{
	ViewBag.Title = "Forget Password";
}
<div ng-controller="Controller">
	<div ng-hide="request.completed" class="text-center">
		<h3 class="burgundy">
			Forgot your password?
		</h3>
		<p>
			Just enter your <span class="blackish">user name</span> or <span class="blackish">email address</span> and we will email you a link so you can reset it.
		</p>
		<form style="margin: 10px 0">
			<input id="userName" ng-model="data.userNameOrEmailAddress" class="large-then-normal" type="text" autocomplete="off" />
			<button id="submit" class="blue text-left-then-center" ng-click="post()" ng-disabled="$root.isRequesting || !data.userNameOrEmailAddress">
				<span ng-hide="$root.isRequesting">Continue</span>
				<span ng-show="$root.isRequesting">Processing</span>
			</button>
			<img src="@(Constants.Images.ProcessingImage)" class="loader" ng-show="$root.isRequesting" />
		</form>
	</div>
	<div id="confirmation" ng-show="request.completed">
		<h3 class="burgundy">
			Confirmation email sent!
		</h3>
		<p>
			We have sent an email to "<span ng-bind="request.emailAddress" class="blue"></span>". In the email you will
			find a link that when clicked on will bring you back to the site so you can reset your password. If the link
			is not used it will expire in 24 hours.
		</p>
		<p>
			<span class="badge red">Note:</span> Please check your junk/spam folder before contacting us, as it is very common to have
			email delivery problems because of automated filters. If for some reason you still do not receive the activation email,
			<a href="mailto:@(Model)">contact us</a> and we'll do our best to figure out the issue.
		</p>
	</div>
</div>
@section scripts
{
	<script type="text/javascript">

		scribe.controller('Controller',
		[
			'$scope', '$http', function ($scope, $http) {

				'use strict';

				$scope.data = {
					userNameOrEmailAddress: ''
				};

				$scope.request = {
					emailAddress: '',
					completed: false
				};

				$scope.post = function () {
					$http.post('/api/Account/ForgotPassword', JSON.stringify($scope.data.userNameOrEmailAddress))
						.success(function (data) {
							$scope.request.emailAddress = data;
							$scope.request.completed = true;
						})
						.error(function (data) {
							toastr.error(data.message);
						});
				};

				$scope.$root.isInitialized = true;
			}
		]);

	</script>
}