@{
	ViewBag.Title = "Invalid Password Reset";
}
<h3 class="burgundy light">
	Password Reset Request Not Found!
</h3>
<p>
	We were not able to locate the password reset request. It may have already been processed.
	You can request another one <a href="/ForgotPassword">here</a>.
</p>